
<div class="container">
  <div class="card" style="width: 40rem;" >
    <h4 class="card-title" style="text-align: center;">{{name}}</h4>
    <img class="card-img-top" src="{{img}}" alt="Card image cap">
    <div class="card-body"> 
      <div class="row">
        <div class="col-9">
         <h6>Cod Interno: </h6>
         <p>{{codint}}</p>
         <h6>Propietario:</h6>  
         <p>{{propietario}}</p>
         <h6>Direccion:</h6> 
         <p>{{dir}}</p>
         <h6>Precio:</h6>
         <p>{{precio}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
