
<div class="container-fluid">
  <div class="row" id="div-filter">
    <div class="col-4">
    </div>
    <div class="col-4">      
    </div>
    <div class="col-3">
      <div class="input-group" id="div-filter">
        <input  type="text" [(ngModel)]="fil" class="form-control" placeholder="Filter" >
        <div class="input-group-append" style="width: 10%;">
            <button  class="btn btn-success" type="button" (click)="getFilter()" style="background-color: rgb(54, 53, 53);">
                <span class="fa fa-eye-slash icon" >{{texto}}</span>
            </button>
        </div>
      </div>            
    </div>
  </div>
  <div class="row">
      <div class="card" *ngFor="let prop of properservis.list" style="display:flex;width: 450px">
        <img class="card-img-top" src="{{ prop.img}}" alt="Card image cap" [routerLink]="['/viewProper']" (click)="Mostrar(prop)">
        <div class="card-body">
          <h5 class="card-title">{{ prop.name}}</h5>
          <p> <b>Presio: </b> {{ prop.price}}</p>
          <p style="text-align:right;">
            <a href="" style="text-align:right;" [routerLink]="['/viewProper']" (click)="Mostrar(prop)"><b>ver más →</b></a>
          </p>
        </div>
      </div>
  </div>
</div>




    

